@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-color: white;
    }

</style>
<div class="overflow-hidden">
    <div class="container-fluid col-xxl-11">
        <div class="row flex-lg-nowrap align-items-center g-5">
            <div class="order-lg-1 w-100">
                <img src="https://marchicaresort.com/media/cache/jadro_resize/rc/ABGcQJxz1671553414/jadroRoot/medias/5d6f5ea71de83/_alk5541.jpg" />
            </div>
            <div class="col-lg-6 col-xl-5 text-center text-lg-start pt-lg-10 mt-xl-4">
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h1 class="fw-bold display-3">
                            Plan your best trip EVER
                        </h1>
                    </div>
                </div>

                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="rfs-8">  </p>
                    </div>
                </div>

                <div class="lc-block mb-6">
                    <a class="btn btn-primary px-4 me-md-2 btn-lg" href="~/hotels/List" role="button">Explore Hotels</a>
                </div>

                <div class="lc-block">
                    <div editable="rich">
                        <h3 class="fw-bold">in collab with:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="lc-block col-3"><img class="img-fluid wp-image-975" src="https://static.tacdn.com/img2/brand_refresh/Tripadvisor_lockup_horizontal_secondary_registered.svg" width="" height="300" srcset="" sizes="" alt=""></div>
                 </div>
            </div>

        </div>
    </div>
</div>


<div id="hello" class="container">
    <div class="row py-4 py-lg-6">
        <div class="col-lg-5 order-lg-2 d-flex align-items-center justify-content-center justify-content-lg-cen ms-lg-n6">
            <div style="z-index:1" class="lc-block col-9 col-lg-10 mb-n3 mb-lg-0">
                <img class="img-fluid shadow" src="https://mamounia.com/media/cache/jadro_resize/rc/AzzuBJJt1665558870/jadroRoot/medias/611ccedc93a69/611ccee361d17/les-equipements_.jpg"  alt="Photo by Kaloyan Draganov">
            </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-lg-7 bg-light px-lg-5 p-5">
            <div class="col-lg-10 ms-lg-5 tito">
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h1 class="fw-bold display-3">Joins us for a better experience! </h1>
                    </div>
                </div>
                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="lead"> We recommand the best Hotels around you and give your the best deals to enjoy time out ! </p>
                    </div>
                </div><!-- /lc-block -->
                <div class="lc-block">
                    <a class="btn btn-primary btn-lg" href="~/users/Register" role="button">Join us</a>
                </div><!-- /lc-block -->
            </div>
        </div><!-- /col -->

    </div>
</div>

<div id="hello" class="container">
    <div class="row py-4 py-lg-6">
        <div class="col-lg-5 order-lg-2 d-flex align-items-center justify-content-center justify-content-lg-cen ms-lg-n6">
            <div style="z-index:1" class="lc-block col-9 col-lg-10 mb-n3 mb-lg-0">
                <img class="img-fluid shadow" src="https://images.pexels.com/photos/53464/sheraton-palace-hotel-lobby-architecture-san-francisco-53464.jpeg?cs=srgb&dl=pexels-pixabay-53464.jpg&fm=jpg" alt="Photo by Kaloyan Draganov">
            </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-lg-7 bg-light px-lg-5 p-5">
            <div class="col-lg-10 ms-lg-5 tito">
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h1 class="fw-bold display-3">register right now </h1>
                    </div>
                </div>
                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="lead"> chose your best hotels and be one of those hwo had max comfort </p>
                    </div>
                </div><!-- /lc-block -->
                <div class="lc-block">
                    <a class="btn btn-danger btn-lg" href="~/users/Register" role="button">sign up</a>
                </div><!-- /lc-block -->
            </div>
        </div><!-- /col -->

    </div>
</div>
<!-- -->

<div class="container">
    <div class="row py-4 py-lg-6">

        <div class="col-lg-6 order-lg-2 d-flex align-items-center justify-content-center justify-content-lg-cen bg-light ms-lg-n6">
            <div class="col-lg-10 ms-lg-5 tito">
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h1 class="rfs-30">Browse and search for hotels</h1>
                    </div>
                </div>
                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="lead"> You can search for hotels by city, name or number of stars ! We make sure to recommand you the best options around your location to give you an easier choice to make.</p>
                    </div>
                </div><!-- /lc-block -->

                <div class="lc-block">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Go back up</a>
                </div><!-- /lc-block -->
            </div>
        </div><!-- /col -->





        <div class="col-lg-6 px-lg-5 p-5">
            <div style="z-index:1" class="lc-block col-9 col-lg-10 mb-n3 mb-lg-0">
                <img class="img-fluid shadow" src="https://www.star.com.au/sydney/sites/star.com.au.sydney/files/styles/portrait_image_desktop/public/thumbnails/image/the-darling-stellar-pyrmont-view-portrait.jpg?itok=opqvj1mj" alt="Photo by Kaloyan Draganov">
            </div><!-- /lc-block -->
        </div><!-- /col -->



    </div>
</div>